@import url('https://fonts.cdnfonts.com/css/netflix-font');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Netflix Font', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.change-my-color {
    fill: red;
    width: 150px;
    padding: 10px;
}

.logo {
    max-width: 75%;
    margin: auto;
    padding: 20px 30px;
}

.container {
    width: 300px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.container h2 {
    font-size: 32px;
    font-weight: 700;
    align-self: flex-start;
}

.container input[type="text"] {
    background-color: rgba(85, 85, 85, 0.4);
    width: 90%;
    padding: 10px;
    outline: 0;
    border-radius: 3px;
}

.container input[type="text"]:focus {
    outline: 2px solid white;
}

.signin-btn {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.signin-btn:hover {
    background-color: #e50914c7;
}

.or {
    color: gray;
}

.password {
    background-color: #353535a5;
}

.password:hover {
    background-color: #3535357a;
}

.forgot {
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
    color: lightgray;
}

.after-forgot {
    margin-top: 50px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.check {
    display: flex;
    gap: 10px;
}

.new {
    color: gray;
}

.learn {
    text-decoration: none;
    color: #0071eb;
    font-size: 12px;
}

.learn:hover {
    text-decoration: underline;
}

.captcha {
    font-size: 12px;
    color: gray;

}

.footer {
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50vh;
}

.links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.links>div {
    margin-right: 100px;

}

.que {
    margin-bottom: 30px;
}

.nav-btn {
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    background-color: red;
    border: 0;
    cursor: pointer;
}

.english {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid gray;
}

    @media only screen and (min-width: 2500px) {
        .container {
            margin-bottom: 50vh;
        }
    }   

    @media only screen and (max-width: 500px) {
        
        body{
            background-image: none;
            background-color: black;
    }
    }